
.row {
  display: flex;
  justify-content: space-between; }
  
#tasks-view {
  width: 800px; }
  
#control-panel {
  width: 480px; }
  
form button {
  border-radius: 4px;
  border: none; }

form .form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
}
  
form .form-row label {
  flex: 1 0 120px;
  max-width: 120px; }
  
form .form-row input {
  flex: 2 0; }

#add-task-button {
  margin-left: 120px; /* Dummy solution */
  height: 50px;
  cursor: pointer; }
