.notification-card {
    display: flex;
}

.notification-panel {
    display: flex;
    flex-flow: column;
    flex: 3 80px;
}

.error-notification-color {
    background-color: salmon;
}

.primary-notification-color {
    background-color: seagreen;
}

.notification-discard {
    cursor: pointer;
}

.background-hidden {
    background-color: gray;
}
